<div class="todos">
    <header>
        <h1>To Do List</h1>
    </header>
    <form (submit)="addTodo()">
        <input type="text" name="inputTodo" placeholder="Enter todo..." class="todo-input" [(ngModel)]="inputTodo" />
        <input type="submit" value="Add" class="todo-submit" />
    </form>
    <div *ngFor="let todo of todos; let i = index;" class="todo {{(todo.completed ? 'completed' : '') }}">
        <div class="index">{{i+1}}</div>
        <button class="done space" (click)="toggleDone(i)">
            <mat-icon>done</mat-icon>
        </button>
        <form class="content-form" (submit)="editTodo(i, event)">
            <input #task type="text" class="content space" value={{todo.content}}
                readonly="{{(todo.isInEditing && readonly) }}" (keyup.enter)="updateTodo(i, task.value)"
                (blur)="updateTodo(i, task.value)" />
            <button type="submit" class="edit space">
                <mat-icon *ngIf="!todo.isInEditing">edit</mat-icon>
                <mat-icon *ngIf="todo.isInEditing">done</mat-icon>
            </button>
        </form>
        <button class="delete space" (click)="deleteTodo(i)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>