.todos {
    margin: 15vw;
    .completed {
        color: gray;
        .done {
            background-color: #018baa !important;
        }
        .content {
            text-decoration: line-through;
            color: gray;
        }
    }
    .todo {
        height: 26px;
        display: flex;
        margin: 15px 0;
        align-items: center;
        .space {
            margin: 0 2px;
        }
        button {
            border-radius: 8px;
            color: white;
            border: none;
            &.done {
                background-color: #68cae2;
            }
            &.edit {
                background-color: #71a977;
            }
            &.delete {
                background-color: #dc3444;
            }
        }
        .id {
            flex: 1 1 50px;
        }
        input:focus-visible {
                outline: none;
            }
        .content-form {
            margin: 0;
            .content {
                flex: 1 1 100%;
                border: 1px solid rgb(201, 199, 199);
                border-radius: 8px;
                height: inherit;
                display: flex;
                align-items: center;
                padding: 0 5px;
                overflow: hidden;
            }
        }
    }
}
form {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    .todo-input {
        width: 80%;
        // height: 26px;
        appearance: none;
        border: none;
        padding: 5px 10px;
        margin-right: 2px;
        // box-sizing: border-box;
        background-color: #f3f3f3;
        font-size: 20px;
        outline: none;
        border-radius: 8px;
    }
    .todo-submit {
        display: block;
        width: 20%;
        // height: 26px;
        padding: 5px;
        margin-left: 2px;
        appearance: none;
        border: none;
        outline: none;
        background: none;
        background-color: #fe4880;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        border-radius: 8px;
    }
}
